<div class="card-container">
    <div class="card-content">
    <form>
      <div class="input-couple">
        <label>Create License</label>
        <label>Name</label>
        <input class="input-area" type="text">
      </div>
      <div class="input-couple">
        <label>Start Time</label>
        <input class="input-area" type="date">
      </div>
      <div class="input-couple">
        <label>End Time</label>
        <input class="input-area" type="date">
      </div>
      <div class="input-couple">
        <input class="input-area" type="button" value="Create">
      </div>
    </form>
    
    </div>
    
    </div>  
