<div class="card-container">
    <div class="card-content">
    <form>
      <div class="input-couple">
        <label>Name</label>
        <input class="input-area" type="text">
      </div>
      <div class="input-couple">
        <label>License</label>
        <input class="input-area" type="text">
      </div>
      <div class="input-couple">
        <label>Video Upload</label>
        <input class="input-area" type="file" accept="video/*">
      </div>
      <div class="input-couple">
        <label>İmage</label>
        <input class="input-area" type="file" accept="image/*">
      </div>
      <div class="input-couple">
        <input class="input-area" type="button" value="Create" >
      </div>
    </form>
    
    </div>
    
    </div>
